/*************************************
               GÉNÉRAL
*************************************/
h2{
    color: #009688;
}
.h3-critique {
    margin-top: 0.3rem;
    border-right: solid 0.1rem rgba(0, 0, 0, 0.6);
}
#h4{
    font-size: 2.8rem;
    color: teal;
}

#padding-show{
    padding: 2.5rem;
    padding-right: 4rem;

}
#bienvenue{
    margin-top: 3rem;
    color: #0c663f;
}
.padding-top{
    margin-top: 6rem;
}.padding-top-wel{
     padding-top: 5rem;
}
 .blanc{
     background-color: #fff;
     max-height: 50rem;
     overflow: hidden;
 }
 .blanc span{
     color: teal;
     font-size: 1.5rem;
     font-weight: bold;
 }

body{

    font-size: 16px;
}
.ligne{
    padding-bottom: 2rem;
    border-bottom: solid 0.1rem rgba(0, 0, 0, 0.2);;
}
#titre-detail{
    margin: 0;
    font-size: 3rem;
}
#app-layout{
    background: #f8f8f8;
}
li{
    list-style-type: none;
}
.large{
    max-width: 30rem; /* SIZE DE LA "CARD" */
}
.carte-film{
    max-width: 30rem;
}
.main{
    padding-top: 10rem;
}
.synopsis{
    font-size: 1.5rem;
}

/*************************************
                FLEX
*************************************/
.ma-critique .btn{
    max-height: 28px;
    padding-top: 0.3rem;
    margin-bottom: 7px;
}
.ma-critique .date{
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
    color: teal;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.centered{
    justify-content: center;
}
.center-self{
   align-self: center;
}
.left{
    justify-content: flex-start;
}

.align-item-center{
    align-items: center;
}
.text-center{
    text-align: left;
}
.ma-critique{
    margin-top: 1rem;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0.2rem;
}
.ma-critique label{
    font-size: 1.3rem;
    color: rgba(0,0,0,0.8);
}
#user-critique{
    margin-top: 1rem;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0.2rem;
    margin-bottom: 10rem;
}
#user-critique h5{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    border-right: solid 0.1rem rgba(0,0,0,0.6);

}
#user-critique h5:before{
    background-color: rgba(0,0,0,0.6);
    height: 15px;
    width: 15px;
}
#user-critique .row{
    margin-bottom: 1rem;
}

/*************************************
            message erreur
*************************************/

ul {
    color: teal;
}
/*************************************
           page app.blade
*************************************/
.partials-flash{
    margin-top: 5rem;
}
/*************************************
           page show.blade
*************************************/
#index-card .row .col.l3{
    width: 25%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.blanc img {
    margin-right: 2rem;
}
.fond{
    background-color: #ffe0b2;
}
#carte-detail-film{
    margin-bottom: 0;
    padding: 3rem;
}
#carte-detail-film span{
    padding-left: 0;
}
.film-info{
    padding: 5rem;
}
.form-ajout-critique{
    background-color: #fff;
}

.sans-margin {
    margin-top: 0.6rem;
    margin-bottom: 0;
}

#boutons-modif{

    margin: 0;
}
.bouton-rouge{
    background-color: #ca4443;
}
.btn:hover{
    background-color: #ca4443;
    color: #fff;
}
#btn-detail{
    border: solid 0.1rem rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
}
#padding-show{
    padding-left: 0.5rem;
}
#app-layout{
    background-image: url('../img/bg_lumiere-studio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.ma-critique textarea{
    background-color: #ffe0b2;
    width: 100%;
    min-height: 10rem;
    padding: 1rem;
    border: solid 1px #d5d5d5;
    color: #00695c;
    margin-bottom: 1.2rem;
}
/*************************************
           page edit.blade
*************************************/
#modif-film{
    margin-top: 8rem;
    padding: 1rem;
    background-color: #fff;

}
#create-film select{
    display: block;
}
#modif-film select{
    display: block;
}
input[type=text] {
    box-sizing: none;
}
#modif-film label{
    font-size: 1.6rem;
    font-family: Helvetica;
    font-weight: lighter;
    color: rgba(0,0,0,0.7);
}
#modif-film input{
    width: 100%;
    max-width: 60rem;
    color: teal;
    margin-bottom: 1.5rem;
}
#modif-film textarea{
    width: 100%;
    min-height: 20rem;
    max-width: 60rem;
    background-color: #fff;
    padding: 1rem;
    border: solid 1px #d5d5d5;
    color: teal;
    margin-bottom: 1.2rem;
}
#modif-film .bouton-submit{
    max-width: 10rem;
    background-color: #4db6ac;
    color: #004d40;
}
#color{
    color: #004d40;
}
#modif-film .bouton-submit:hover{
   background-color: #009688;

}
#modif-film form{
    margin-right: 1.2rem;
}
/*************************************
            create.blade
*************************************/

#create-film input{
    width: 100%;
    max-width: 60rem;
    color: #d81b60;
    margin-bottom: 1.5rem;
}
#create-film textarea{
    width: 100%;
    min-height: 20rem;
    max-width: 60rem;
    background-color: #fff;
    padding: 1rem;
    border: solid 1px #d5d5d5;
    color: #d81b60;
    margin-bottom: 1.2rem;
}
#create-film label{
    font-size: 1.6rem;
    font-family: Helvetica;
    font-weight: lighter;
    color: rgba(0,0,0,0.7);
}
#create-film .bouton-submit-create{
    max-width: 10rem;
    background-color: #d81b60;
    color: #880e4f;
}


/*************************************
                 NAV
*************************************/

nav{
    background-color: #fff;
    line-height: 0;

}
.nav{
    padding-top: 2rem;
}
nav ul a{
    font-size: 1.8rem;
}

.navbar-brand{
    max-height: 5px;
}
.recherche{
    /*margin: 0;
    padding: 1rem;*/
}
.barre-nav{
    position: fixed;
    height: 9.6rem;
}

.div-logo{
    height: 5rem;
}
.div-logo img{
    width: 13%;
    height: 13%;
}
input[type=text]{
    background-color: #fff;
    border: solid 1px #d5d5d5;
    border-radius: 0.2rem;
    padding: 0 0.5rem 0 0.5rem ;
    color: green;
    font-size: 16px;
    height: 4rem;
    width: 30rem;
    margin-bottom: 0;
}

/*************************************
                 ACCEUIL
*************************************/
#accueil-synop{
    padding-bottom: 2rem;
    height: 15rem;

}
.card{
 width: 100%;
}
.card-image{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.card.large .card-action {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card.large .card-image{
    max-height: 70%;
}
#accueil-synop .card-title{
    line-height: 2.5rem;
    padding-bottom: 0rem;
}
#welcome .row .col.l3 {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.par-dessus{
    padding-top: 0.7rem;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    background-color: #ffd54f;
    border-top-left-radius: 0.2rem;
    border-bottom-right-radius: 0.3rem;
    border: solid 0.1rem #ffc107;
    width: 140px;
}